In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("/Users/nadezhda_viatskina/Desktop/Skillfactory/Project_1"))

['[SF-DST] Movies IMBD v3.0.ipynb', '.DS_Store', 'data.csv', '.ipynb_checkpoints']

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data['budget'] == data['budget'].max()] [['original_title', 'imdb_id']]

        original_title    imdb_id
491  The Warrior's Way  tt1032751

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append("4. The Warrior's Way	(tt1032751)")

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data['runtime'] == data['runtime'].max()] [['original_title', 'imdb_id']]

         original_title    imdb_id
1158  Gods and Generals  tt0279111

In [8]:
answer_ls.append("2. Gods and Generals	(tt0279111)")

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data.loc[data['runtime'] == data['runtime'].min()] [['original_title', 'imdb_id']]

      original_title    imdb_id
769  Winnie the Pooh  tt1449283

In [10]:
answer_ls.append("3. Winnie the Pooh	tt1449283")

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
round(data.describe())

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.0,1890.0,1.890000e+03,1890.0,1890.0,1890.0,1890.0
mean,2.0,54506961.0,1.552890e+08,110.0,786.0,6.0,2008.0
std,2.0,49317045.0,2.146386e+08,18.0,1069.0,1.0,4.0
min,0.0,5000000.0,2.033165e+06,63.0,10.0,3.0,2000.0
25%,1.0,20000000.0,3.434007e+07,97.0,164.0,6.0,2004.0
50%,1.0,38000000.0,8.358664e+07,106.0,389.0,6.0,2008.0
75%,2.0,72000000.0,1.782136e+08,120.0,938.0,7.0,2012.0
max,33.0,425000000.0,2.781506e+09,214.0,9767.0,8.0,2015.0

In [12]:
round(data.describe()['runtime']['mean'])

110.0

In [13]:
answer_ls.append("2. 110")

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
round(data.runtime.median())

106

In [15]:
answer_ls.append("1. 106")

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

**Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.**

In [16]:
data['profit'] = data['revenue'] - data['budget']

In [17]:
data[data['profit'] == data['profit'].max()] [['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [18]:
answer_ls.append("5. Avatar	tt0499549")

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
data[data['profit'] == data['profit'].min()] [['original_title', 'imdb_id']]

        original_title    imdb_id
491  The Warrior's Way  tt1032751

In [20]:
answer_ls.append("2. The Warrior's Way tt1032751")

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [21]:
len(data[data['profit'] > 0])

1478

In [22]:
len(data[data['profit'] > 0]['imdb_id'].unique())

1478

In [23]:
answer_ls.append("1. 1478")

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [24]:
data[data['profit'] == data.loc[(data['release_year'] == 2008)]['profit'].max()] [['original_title','imdb_id']]

      original_title    imdb_id
600  The Dark Knight  tt0468569

In [25]:
answer_ls.append("4. The Dark Knight	tt0468569")

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [26]:
data[data['profit'] == data.loc[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()] [['original_title','imdb_id']]

       original_title    imdb_id
1246  The Lone Ranger  tt1210819

In [27]:
answer_ls.append("5. The Lone Ranger	tt1210819")

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [28]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().head(5)

Drama        782
Comedy       683
Thriller     597
Action       583
Adventure    416
dtype: int64

In [29]:
answer_ls.append("3. Drama")

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [30]:
genres = data[data['profit'] > 0]
pd.DataFrame(genres['genres'].str.split('|').to_list()).stack().value_counts().head(5)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [31]:
answer_ls.append("1. Drama")

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [32]:
data['director'].value_counts().index[0]

'Steven Soderbergh'

In [33]:
answer_ls.append("3. Steven Soderbergh")

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [34]:
data[data['profit'] > 0]['director'].value_counts().index[0]

'Ridley Scott'

In [35]:
answer_ls.append("4. Ridley Scott")

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [36]:
profit_table = data.groupby('director').agg({'profit': lambda x: x.sum()})

In [37]:
profit_table.sort_values (by = 'profit', ascending=False).head(5)

                       profit
director
Peter Jackson      5202593685
David Yates        3379295625
Christopher Nolan  3162548502
J.J. Abrams        2839169916
Michael Bay        2760938960

In [38]:
answer_ls.append("5. Peter Jackson")

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [39]:
profit_by_actor = Counter()
for index, row in data.iterrows():
    names = row['cast'].split('|')
    for name in names:
        profit_by_actor[name] += row['profit']
display(profit_by_actor.most_common(5))

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161)]

In [40]:
answer_ls.append("Emma Watson")

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [41]:
profit_2012 = Counter()
for index, row, in data[data['release_year'] == 2012].iterrows():
    names = row['cast'].split('|')
    for name in names:
        profit_2012[name] += row['profit']
display(profit_2012.most_common() [:-6:-1])

[('Kirsten Dunst', -68109207),
 ('Heidi Hawkins', -51893525),
 ('James Kidnie', -51893525),
 ('Timothy Spall', -51893525),
 ('Malin Ã…kerman', -43733509)]

In [42]:
answer_ls.append("3. Kirsten Dunst")

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [43]:
hb_actor = Counter()
for index, row in data[data.budget > data.budget.mean()].iterrows():
    names = row['cast'].split('|')
    counter = 0
    for name in names:
        hb_actor[name] += 1
display(hb_actor.most_common(5))

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

In [44]:
answer_ls.append("3. Matt Damon")

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [45]:
NCage_genres  = []
for index, row in data.iterrows():
    if 'Nicolas Cage' in row['cast']:
        NCage_genres.extend(row['genres'].split('|'))
c = Counter()
for word in NCage_genres:
    c[word] += 1
c.most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [46]:
answer_ls.append("2. Action")

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
production_companies = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().value_counts()
production_companies.head()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
dtype: int64

In [48]:
answer_ls.append("1. Universal Pictures (Universal)")

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [49]:
production_companies = pd.DataFrame(data[data['release_year'] == 2015] ['production_companies'].str.split('|').tolist()).stack().value_counts()
production_companies.head()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
dtype: int64

In [50]:
answer_ls.append("4. Warner Bros")

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [51]:
profit_by_company = Counter()
for index, row in data.iterrows():
    if 'Comedy' in row['genres']:
        companies = row['production_companies'].split('|')
        for company in companies:
            profit_by_company[company] += row['profit']
profit_by_company.most_common(5)

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

In [52]:
data_profit = data.copy()
for column in ['cast', 'genres', 'production_companies']:
    data_profit[column] = data_profit[column].apply(lambda x: x.split('|'))
data_profit = data_profit.explode('genres')
data_profit = data_profit.explode('production_companies')
data_profit[data_profit['genres'] == 'Comedy'].groupby('production_companies').agg({'profit':'sum'}).sort_values(by='profit', ascending = False).head(5)

                                            profit
production_companies
Universal Pictures                      8961545581
Walt Disney Pictures                    7669710326
Twentieth Century Fox Film Corporation  5686960294
Columbia Pictures                       5646343696
DreamWorks Animation                    4789049764

In [53]:
answer_ls.append("2. Universal Pictures (Universal)")

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [54]:
profit_by_company_2012 = Counter()
for index, row in data[data['release_year'] == 2012].iterrows():
    companies = row['production_companies'].split('|')
    for company in companies:
        profit_by_company_2012[company] += row['profit']
profit_by_company_2012.most_common(5)

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938)]

In [55]:
answer_ls.append("3. Columbia Pictures")

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [56]:
data_profit = data.copy()
for column in ['production_companies']:
    data_profit[column] = data_profit[column].apply(lambda x: x.split('|'))
data_profit = data_profit.explode('production_companies')

In [57]:
data_profit[data_profit['production_companies'] == 'Paramount Pictures'][['original_title','profit']].sort_values(by = 'profit', ascending = True).head(2)

            original_title    profit
926   K-19: The Widowmaker -64831034
1124              Timeline -60519261

In [58]:
answer_ls.append("1. K-19: The Widowmaker tt0267626")

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [59]:
data_profit = data.copy()
data_profit.pivot_table(values = 'profit', index = 'release_year', aggfunc = 'sum').sort_values(by='profit', ascending = False).head(5)

                   profit
release_year
2015          18668572378
2014          16397812953
2012          16077001687
2013          15243179791
2011          14730241341

In [60]:
best_year = Counter()
for row in range(0, len(data)):
    best_year[data['release_year'].iloc[row]]+=data.iloc[row]['profit']
best_year.most_common(5)

[(2015, 18668572378),
 (2014, 16397812953),
 (2012, 16077001687),
 (2013, 15243179791),
 (2011, 14730241341)]

In [61]:
answer_ls.append("5. 2015")

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [62]:
data_profit = data.copy()
for column in ['production_companies']:
    data_profit[column] = data_profit[column].apply(lambda x: x.split('|'))
data_profit = data_profit.explode('production_companies')

In [63]:
data_profit[data_profit['production_companies'].str.contains('Warner Bros.')].pivot_table(values = 'profit', index = 'release_year', 
                                           aggfunc = 'sum').sort_values(by='profit', ascending = False).head(5)

                  profit
release_year
2014          2292949646
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682

In [64]:
WB_best_year = Counter()
for row in range(0, len(data)):
    if 'Warner Bros' in data['production_companies'].iloc[row]:
        WB_best_year[data['release_year'].iloc[row]]+=data.iloc[row]['profit']
WB_best_year.most_common(5)

[(2014, 2295464519),
 (2007, 2201675217),
 (2008, 2134595031),
 (2010, 1974712985),
 (2011, 1871393682)]

In [65]:
answer_ls.append("1. 2014")

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [66]:
data.dtypes['release_date']

dtype('O')

In [67]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = pd.DatetimeIndex(data['release_date']).month

In [68]:
data.groupby('month').agg({'imdb_id':'count'}).sort_values(by='imdb_id', ascending = False).head(5)

       imdb_id
month
9          227
12         191
10         186
8          161
3          156

In [69]:
months = Counter()
for row in range(0, len(data)):
    months[data['month'].iloc[row]]+= 1
months.most_common(10)

[(9, 227),
 (12, 191),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140)]

In [70]:
answer_ls.append("4. Сентябрь")

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [71]:
data[(data['month'] == 6) | (data['month'] == 7)| (data['month'] == 8)].agg({'imdb_id':'count'})

imdb_id    450
dtype: int64

In [72]:
summer = 0
for row in range(0, len(data)):
    if 5 < data['month'].iloc[row] < 9:
        summer +=1
print(summer)

450

In [73]:
answer_ls.append("2. 450")

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [74]:
data_director = data.copy()
data_director['director'] = data_director['director'].apply(lambda x: x.split('|'))
data_director = data_director.explode('director')

In [75]:
data_director[(data_director['month'] == 12) | (data_director['month'] == 1)| (data_director['month'] == 2)].pivot_table(values = 'original_title', index = 'director', 
                                           aggfunc = 'count').sort_values(by='original_title', ascending = False).head(5)

                   original_title
director
Peter Jackson                   7
Steven Soderbergh               6
Clint Eastwood                  6
Shawn Levy                      4
Adam Shankman                   4

In [76]:
director_best = Counter()
for index, row in data[(data['month'] == 12) | (data['month'] == 1)| (data['month'] == 2)].iterrows():
    directors = row['director'].split('|')
    for director in directors:
        director_best[director] += 1
director_best.most_common(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

In [77]:
answer_ls.append("5. Peter Jackson")

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

Почему нужно считать по годам, а не просто взять самый прибыльный месяц за весь период? Киноиндустрия активно развивается, прибыль компаний растет с каждым годом (например, в 2014 г. индустрия заработала в 2 раза больше, чем в 2004). Поэтому прибыльность более поздних месяцев будет значительно перевешивать предыдущие, что может привести к искажению выводов.

In [78]:
profitable_month = data.pivot_table(values = 'profit', index = 'month',columns = 'release_year', aggfunc = 'sum')

In [79]:
profitable_month.idxmax().value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [80]:
answer_ls.append("2. Июнь")

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [81]:
data['title_length'] = data.original_title.apply(lambda x: len(x))

In [82]:
data_companies = data.copy()
data_companies['production_companies'] = data_companies['production_companies'].apply(lambda x: x.split('|'))
data_companies = data_companies.explode('production_companies')

In [83]:
data_companies.pivot_table(values = 'title_length', 
               index = 'production_companies',aggfunc = 'mean').sort_values(by='title_length', 
                                                                            ascending = False).head(5)

                           title_length
production_companies
Four By Two Productions            83.0
Jim Henson Company, The            59.0
Dos Corazones                      47.0
Polsky Films                       46.0
Museum Canada Productions          46.0

In [84]:
answer_ls.append("5. Four By Two Productions")

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [85]:
data['word_lenght']=data.original_title.apply(lambda x: len(x.split()))
data_companies = data.copy()
data_companies['production_companies'] = data_companies['production_companies'].apply(lambda x: x.split('|'))
data_companies = data_companies.explode('production_companies')
data_companies.pivot_table(values = 'word_lenght', 
               index = 'production_companies',aggfunc = 'mean').sort_values(by='word_lenght', 
                                                                            ascending = False).head(5)

                         word_lenght
production_companies
Four By Two Productions         12.0
Jim Henson Company, The         10.0
Dos Corazones                    9.0
Polsky Films                     9.0
The Saul Zaentz Company          9.0

In [86]:
answer_ls.append("5. Four By Two Productions")

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [87]:
import string
all_words=set()
for index, row in data.iterrows():
    all_words |= set([x.lower() for x in row.original_title.split()])
len(all_words)

2461

In [88]:
answer_ls.append("3. 2461")

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [89]:
data[data.vote_average > data.vote_average.quantile(q=0.99)].sort_values(by = 'vote_average',
                                                                                           ascending = False)['original_title'].head(15)

600                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [90]:
np.percentile(data.vote_average, 99)

7.8

In [91]:
answer_ls.append("1. Inside Out, Gone Girl, 12 Years a Slave")

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [92]:
import itertools

In [93]:
actors=Counter()
for index, row in data.iterrows():
    a = row['cast'].split('|')
    actors.update([ x for x in itertools.combinations(a, 2)])
actors.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [94]:
answer_ls.append("5. Daniel Radcliffe & Rupert Grint")

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [95]:
data_director = data.copy()
data_director['director'] = data_director['director'].apply(lambda x: x.split('|'))
data_director = data_director.explode('director')

In [96]:
result_profitable = data_director[data_director['profit'] > 0]
pivot = result_profitable.groupby('director').agg({'original_title':'nunique'}).sort_values(by='original_title', ascending = False).reset_index()

In [97]:
pivot.head(5)

            director  original_title
0       Ridley Scott              12
1     Clint Eastwood              10
2   Steven Spielberg              10
3  Steven Soderbergh              10
4         Shawn Levy               9

In [98]:
pivot['original_title'] = pivot['original_title'].apply(lambda x:100*x/len(data))
pivot.head()

            director  original_title
0       Ridley Scott        0.634921
1     Clint Eastwood        0.529101
2   Steven Spielberg        0.529101
3  Steven Soderbergh        0.529101
4         Shawn Levy        0.476190

In [99]:
answer_ls.append("5. Clint Eastwood")

# Submission

In [100]:
len(answer_ls)

36

In [101]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                      Answer
0    1           4. The Warrior's Way\t(tt1032751)
1    2           2. Gods and Generals\t(tt0279111)
2    3               3. Winnie the Pooh\ttt1449283
3    4                                      2. 110
4    5                                      1. 106
5    6                        5. Avatar\ttt0499549
6    7              2. The Warrior's Way tt1032751
7    8                                     1. 1478
8    9               4. The Dark Knight\ttt0468569
9   10               5. The Lone Ranger\ttt1210819
10  11                                    3. Drama
11  12                                    1. Drama
12  13                        3. Steven Soderbergh
13  14                             4. Ridley Scott
14  15                            5. Peter Jackson
15  16                                 Emma Watson
16  17                            3. Kirsten Dunst
17  18                               3. Matt Damon
18  19                                   2. Action
19  20           1. Universal Pictures (Universal)
20  21                              4. Warner Bros
21  22           2. Universal Pictures (Universal)
22  23                        3. Columbia Pictures
23  24           1. K-19: The Widowmaker tt0267626
24  25                                     5. 2015
25  26                                     1. 2014
26  27                                 4. Сентябрь
27  28                                      2. 450
28  29                            5. Peter Jackson
29  30                                     2. Июнь
30  31                  5. Four By Two Productions
31  32                  5. Four By Two Productions
32  33                                     3. 2461
33  34  1. Inside Out, Gone Girl, 12 Years a Slave
34  35          5. Daniel Radcliffe & Rupert Grint
35  36                           5. Clint Eastwood